* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Beaufort for LOL', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("src/images/lol-universe-2020.png") no-repeat center center fixed;;
    background-size: cover;
    background-position: center;
}

Link {
    text-decoration: none;
}